# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment and system files
.env
.DS_Store

# Ignore model, logs, data (if large or optional)
*.pkl
*.log
*.csv

# Ignore IDE settings
.vscode/
